<div class="profile-change-container">
    <div class="header">
      <h2>CHANGEMENT DE PROFILE</h2>
      <div class="action-icons">
        <i class="icon">➖</i>
        <i class="icon">🔲</i>
        <i class="icon">❌</i>
      </div>
    </div>
  
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="domaine">Domaine:</label>
          <select id="domaine" class="form-control" [(ngModel)]="formData.domaine" (change)="onDomaineChange()" name="domaine">
            <option *ngFor="let domaine of domaines">{{domaine.libelle}}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="responsable-qualification">Responsable Qualification:</label>
          <div class="input-wrapper">
            <input type="text" id="responsable-qualification" class="form-control" 
                   [(ngModel)]="formData.responsableQualification" 
                   [disabled]="!editableFields.qualification" name="responsableQualification">
            <i class="edit-icon" (click)="toggleEdit('qualification')">✏️</i>
          </div>
        </div>
        
        <div class="form-group">
          <label for="responsable-traitement">Responsable Entité Traitement:</label>
          <div class="input-wrapper">
            <input type="text" id="responsable-traitement" class="form-control" 
                   [(ngModel)]="formData.responsableTraitement" 
                   [disabled]="!editableFields.traitement" name="responsableTraitement">
            <i class="edit-icon" (click)="toggleEdit('traitement')">✏️</i>
          </div>
        </div>
      </div>
  
      <!-- <button type="button" (click)="updateResponsable()">Save Changes</button> -->
    </form>
  </div>
  